.list-group-item {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;

    &.active {
      
    }

    &:not(.active):hover {
        color: #fff;
        background-color:#c5e2a1;
        
    }
}



